<div class="page-header about-description">
	<h1> About Me </h1>
	<!-- <h3> A look into my life </h3> -->
</div>

<div class="row"> 
	<div class="scuba-img">
		<img src="public/assets/img/scubaDiving.jpg">
	</div>
	<div class="scuba description-parent">
		<div class="scuba-description">
			<p> Nunc sed quam urna. Morbi eu arcu quis lectus tristique egestas ut id neque. Curabitur pharetra nulla a arcu tristique hendrerit. Vivamus dictum felis vitae lacus porta, et volutpat lectus mattis. Fusce cursus venenatis eros, vel malesuada purus vulputate semper. Curabitur metus tellus, auctor nec varius vitae, ultrices at est. Morbi dignissim enim ex, et semper felis vehicula vitae. Nulla dignissim libero purus, in vehicula quam ultricies non. Nunc porttitor elit eu condimentum condimentum. Sed sed efficitur nisi. </p>
		<div/>
	<div/>
</div>
<!-- ./row -->