<div class="page-header about-description">
	<h1> About Me </h1>
</div>

<div class="row parent">
	<div class="col-xs-5 child-left">
		<img class="img-circle" src="/assets/img/personalWebsite1.jpg" alt="Profile image">
	</div>
	<div class="col-xs-7 child-right">
		<div class="description">
			<!-- <h3>About me!</h3> -->

			<p> I'm currently in my 4th year of Software Engineering at the University of Guelph. I have a strong passion for coding, tangible projects, and reusable software. However, you'll often find me outdoor - on land or in the water. </p>

			<p> Growing up I had the privilege of living in different countries. Raised in the historical city of Moscow but soon after that, I moved to the west coast of Canada, British Columbia. My family settled on the outskirts of Vancouver, in a place called Burnaby where I developped many hobbies such as, skiing, hiking, swimming, and soccer (Go Gunners!). </p>

			<p> After Graduating from elementary school I moved with my family to the sub-tropical islands of Bermuda, which I now call home. By enrolling in the prestigious Bermuda High School I was able to graduate with an international baccalaureate degree and apply to the University of Guelph. </p>
		</div>
	</div>
</div>
<!-- ./row -->

<div class="row"> 
	<div class="scuba description-parent">
		<div class="scuba-description">
			<p> In Bermuda I discovered my love for scuba diving and started an internship with Blue Water Divers <a href="https://www.divebermuda.com"> (www.divebermuda.com) </a> from 2010 to 2014. I quickly progressed through the PADI certified levels from Open water Diver all the way to Divemaster learning valuble social and teamwork skills along the way. In the summer of 2014 I took the Instructor Development Course (IDC) with Ocean Divers <a href="https://www.oceandivers.com/"> (www.oceandivers.com) </a> and completed the Instructor Examination (IE) and received my PADI Open Water Scuba Instructor certificate! </p>

			<div class="scuba-img">
				<img src="/assets/img/scubaDiving.jpg">
			</div>

			<p> The following two summers I was fortunate enough to work for Dive Bermuda <a href="https://www.bermudascuba.com/"> (www.bermudascuba.com)</a>, Bermuda's only PADI 5 Star Instructor Development Center. </p>
		<div/>
	<div/>
</div>
<!-- ./row -->