<div class="cover-container">
	<img src="public/assets/img/test.jpg" alt="Responsive image">
	<!-- <img src="public/assets/img/personalWebsiteCover.jpg" alt="Cover image"> -->
</div>
<h2 style="text-align:center;">Alexander Gontcharov</h3>
<h4 style="text-align:center;">Software Developer and Open Water Scuba Instructor</h2>

<div class="row">
	<div class="col-xs-6">
		<div class="image-container">
			<img class="img-circle" src="public/assets/img/personalWebsite1.jpg" alt="Profile image">
		</div>
	</div>
	<div class="col-xs-6">
		<div class="description-container">
			<h3>About me!</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempus commodo tellus consectetur fringilla. Aliquam erat volutpat. Nullam et elit eu risus vehicula pellentesque id elementum lorem. Mauris mattis ullamcorper ipsum, id mattis diam feugiat eget. Aliquam erat volutpat. Etiam iaculis pharetra augue, sit amet aliquam nisl imperdiet sit amet. Sed vitae dolor id mauris tempus vehicula.
			</p>

			<p>Mauris a metus odio. Integer nec ligula volutpat, tristique arcu non, accumsan ante. Quisque nulla lectus, dictum id maximus a, imperdiet non eros. Morbi elementum orci risus, eget tempus lorem consectetur et. Nunc efficitur tincidunt libero, et molestie sapien auctor sit amet. Mauris ac consectetur velit. Suspendisse faucibus ultricies libero quis rutrum. Sed sagittis mollis nulla dictum mattis. Sed porta ante ac elit fringilla, egestas pharetra ipsum congue. Aliquam volutpat maximus ex eu efficitur.
			</p>

			<p>Nam ligula tortor, tempor eget pulvinar at, tincidunt quis orci. Nulla nec porttitor purus. Mauris mi enim, tempor in varius sed, pellentesque non felis. Praesent hendrerit dolor at lectus tristique blandit. Pellentesque eu mauris ut est pharetra efficitur sed in libero. Donec nunc augue, porttitor a velit eu, mollis sodales tellus. Vivamus tristique eros et nisl finibus placerat. Aenean in leo ex.
			</p>
		<div/>
	</div>
</div>