.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}

.footer p {
	margin: 0;
}

.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
	text-align: center;
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
	text-align: center;
}

.github-links li a {
	display: inline-block;
	padding-bottom: 4px;
	font-size: 13px;
	color: #78828D;
}

@media (max-width: 768px) {
	
	/* -15 px to match top column */
	#contact {
		padding-top: 25px;
	}
}

.newsletter-box .btn {
	border: 1px solid #BAC1C8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 50%;
	color: #fff;
}

.newsletter-box .btn:hover {
	background: white;
	color: #7F8C8D;
}

.newsletter-box {
	overflow: hidden;
}

.bg-gray {
	background-color: #DCDCDC;
	box-shadow: 0 1px 0 #B4B3B3;
}

.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;

	display: inline-block;
	height: 36px;
	line-height: 36px;
	margin: 0 4px 0 4px;
	padding: 0;
	text-align: center;
	width: 36px;

	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}

.social li a {
	color: #EDEFF1; /*color of the icons*/
	display: block;
	width: 100%;
	height: 100%;
}

.social li a i {
	font-size: 16px;
}

/* Colors of the companies on hover. */
#facebook:hover {
	border: 2px solid #3b5998;
	background: #3b5998;
}

#twitter:hover {
	border: 2px solid #00aced;
	background: #00aced;
}

#skype:hover {
	border: 2px solid #12A5F4;
	background: #12A5F4;
}

#linkedin:hover {
	border: 2px solid #0077B5;
	background: #0077B5;
}

#github:hover {
	border: 2px solid black;
	background: black;
}

.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding: 15px 0;
}

.footer-bottom p {
	font-size: 15px;
	margin: 0;
	text-align: center;
}