#image-gallery {
	width: 100%;
	height: auto;
	padding-bottom: 30px;
}

.no-padding {
	padding: 5px!important;
	margin: 0px!important;
}

#image-gallery img {
	width: 100%;
	max-width: 350px;

	/* Center images horizontally. */
	display: block;
	margin: 0 auto;
}

#image-gallery img {
	opacity: 0.8;
}

#image-gallery img:hover, #image-gallery img:active {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: 1;
}

.close {
	color: white;
	font-weight: bold;
	font-size: 35px;
	opacity: 1;
}

.close:hover {
	text-decoration: none;
	color: #999;
	opacity: 1;
}

.image-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#ski {
	height: 75vh;
}

#scuba {
	width: 75vw;
}

#jacuzzi {
	height: 75vh;
}

#soccer {
	/*height: 75vh;*/
	width: 75vw;
}
