#thumbnail {	
	width: inherit; 	/*Width 100% is causing the container/row to be cut short*/
	height: auto;
	padding-bottom: 30px;
}

.no-padding {
	padding: 5px!important;
	margin: 0px!important;
}

#thumbnail img {
	width: 100%;
	max-width: 350px;
	opacity: 0.8;

	/* Center images horizontally. */
	display: block;
	margin: 0 auto;
}

#thumbnail img:hover, #thumbnail img:active {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: 1;
}

.modal {
/*	background: #0f0f11;*/
}

.close {
	text-decoration: none;
	color: white;
	font-size: 35px;
	font-weight: 100;
	opacity: 1;
	padding: 5px;
}

.close:hover {
	text-decoration: none;
	color: white;
	/*color: #999;*/
	/*opacity: 1;*/		/*Makes this solid white. */
}

.prev, .next {
	cursor: pointer;
	text-decoration: none;
	user-select: none;
	position: absolute;
	top: 0;
	color: white;
	font-size: 28px;
	font-weight: 100;

	display: block;	

	/*padding: 50vh 0;*/	/*Almost works, scrolling at the bottom*/
	padding-top: 50vh;
	padding-top: calc(50vh - 40px);
	padding-bottom: 50vh;
}

.prev:hover, .next:hover {
	text-decoration: none;
	color: white;
}

.prev {
	padding-left: 10px;
	padding-right: 4%;
}

.next {
	right: 0;
	padding-right: 10px;
	padding-left: 4%;
	z-index: -1;
}

.image-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.image-wrapper img {
	width: 100%;
	max-width: 500px;
}

#ski {

}

#scuba {

}

#jacuzzi {

}

#soccer {

}