#thumbnail {	
	width: inherit; /*Width 100% is causing the container/row to be cut short*/
	height: auto;
	padding-bottom: 30px;
}

.no-padding {
	padding: 5px!important;
	margin: 0px!important;
}

#thumbnail img {
	width: 100%;
	max-width: 350px;
	opacity: 0.8;

	/* Center images horizontally. */
	display: block;
	margin: 0 auto;
}

#thumbnail img:hover, #thumbnail img:active {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: 1;
}

.modal {
/*	background: #0f0f11;*/
}

.close {
	position: absolute;
	right: 0;
	text-decoration: none;
	/*color: white;*/
	color: #ebebe0 !important;
	font-size: 30px;
	font-weight: 100;
	opacity: 1;
	padding-top: 12px !important;
	padding-right: 12px !important;
}

.close:hover {
	text-decoration: none;
	color: white !important;
	opacity: 1;	/*Makes this solid white. */
}

.prev, .next {
	position: absolute;
	top: 0;
	cursor: pointer;
	/* Need to overwrite here. */
	color: #ebebe0 !important;
	font-size: 40px;
	font-weight: 100;

	display: block;	
	/* Off set for prev/next font size. */
	padding-top: calc(50vh - 57px);
	padding-bottom: 50vh;

	webkit-touch-callout: none;	/* IOS Safari. */
	webkit-user-select: none;
	moz-user-select: none;
	ms-user-select: none;
	user-select: none;
}

.prev:hover, .prev:visited, .next:hover, .next:visited {
	text-decoration: none;
	/*color: white !important;*/
}

.prev {
	padding-left: 12px;
	padding-right: 4%;
}

.next {
	right: 0;
	padding-right: 12px;
	padding-left: 4%;
	z-index: -1;
}

.image-wrapper {
	position: absolute;
	z-index: -2;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.image-wrapper img {
	width: 100%;
	max-width: 500px;
}

#ski {

}

#scuba {

}

#jacuzzi {

}

#soccer {

}
