body {
    background: white;
}

p {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
	text-align: center;

}

.page-header {
	background: white;
	/*margin 0;*/
}

/* Somewhere margin was set to 15px and caused horizontal scrolling */
.row {
	margin: 0;
}

.navbar { 
	margin: 0;
	border: 0;
}