body {
    background: white;
}

p {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

h1, h3 {
	text-align: center;

}

/* Somewhere margin was set to 15px and caused horizontal scrolling */
.row {
	margin: 0;
}

.navbar { 
	margin-bottom: 0; 
}

.navbar-brand, .navbar a li {
	font-size: 16px;
}