.projects-description {
	text-align: center;
	font-family: adobe-garamond-pro;
	padding: 25px 0px;
	background-color: #EDEFF1;
	border-bottom: 1px solid #DDDDDD;
}

/*Links have more in built properties effects*/
.projects-description a {
	font-size: 20px;
	line-height: 0%;
}

.all-projects {
	padding: 30px 0px;
}

.all-projects h3 {
	text-align: left;
}

.project-image img {
	width: 100%;
	height: 100%;
	padding-top: 30px;
}

.description-container a {
	text-decoration: none;
}

.description-container a:hover {
	color: #008ae6;
}

.sub-heading {
	color: #008000;
	font-size: 18px;
/*	line-height: 75%;*/
	padding-bottom: 10px;
}

/* Width must be specified to center a div with margin: 0 auto; */
.description-container {
	width: 100%;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.all-projects {
		padding-top: 0px;
	}
}

@media (min-width: 768px) {
	.description-container p {
		text-align: justify;
	}
}

@media (min-width: 1200px) {
	#genetic {
		max-width: 500px;
	}
}