.projects-description {
	color: #54697E;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.projects-description h1 {
}

.projects-description h3 {
	line-height: 10%;
}

/*Links have more in built properties effects*/

.projects-description a {
	color: #E18A07;
}

.all-projects h3 {
	color: #337ab8;
}

.project-container {
	text-align: center;
}

.project-container img {
	/*border-radius: 25%;*/
}

.project-container img {
	max-height: 100%;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

.description-container {
	/*padding-top: 5%;
	padding-bottom: 5%;*/
	padding-left: 5%;
	padding-right: 5%;

	white-space: pre-wrap;
	text-align: justify;
}