.projects-description {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.projects-description a {
	color: #E18A07;
}

.project-container {
	text-align: center;
}

.project-container img {
	border-radius: 25%;
}

.row a {
	color: #54697E;
}

.project-container img {
	max-height: 100%;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

.description-container {
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
}